@import "../globalStyle.scss";


.questionWrapper {
	margin: 13px;
	width: 500px;
}

.question {

	transition: none;
	display: flex;
	align-items: center;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-bottom: 10px;
	max-height: 300px;
		overflow: hidden;

	position: relative;
}

.questionText {
	padding: 15px;
	width: 450px;
	padding-bottom: 10px;

	p {
		margin-top: 0px;
		margin-bottom: 5px;
	}
}

.answerInput {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	width: 100%;
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;
	width: 465px;
}

.questionX {
	position: absolute;
	top:7px;
	right: 8px;
	visibility: hidden;
	cursor: pointer;
}

.question:hover .questionX {
	visibility: visible;
}


.fadeOut {
	opacity: 0;
	max-height: 0;
	transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
	overflow: hidden;
}


.titleWrapper {
	display: flex;

	button {
		margin-top: 4px;
		margin-bottom: 15px;
		margin-left: 14px;
		font-size: 0.9rem;
	}

	button:disabled {
		cursor: not-allowed;
		background-color: #f0f0f0;
		color: #aaaaaa;
		border: 1px solid #aaaaaa;
	}
}

.pText {
	display: flex;

	img {
		margin-left: 10px;
		width: 50px;
		height: 32px;
	}
}

.boldText {
	p {
		font-size: 0.9rem;
	}
}

.feedback {
	font-size: 0.8rem;
}